In [80]:
import traceback
import ipywidgets as widgets
from IPython.display import display
from ipywidgets import interact
import pandas as pd
import psycopg2 as pg
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.sql.expression import text

In [79]:
cnx = 'postgresql://radio_server:srv123@localhost/radio'
eng = sqlalchemy.create_engine(cnx)

In [78]:
con = pg.connect(host='localhost', dbname= 'radio', user='radio_server', password= 'srv123')

#### Manipulando a tabela ouvinte

In [149]:
with eng.connect() as conn:
    result = conn.execute(text("SELECT * FROM ouvinte WHERE nome = 'George R R Silva' ORDER BY nome;"))
    for row in result:
        print(f"Cpf: {row.cpf} | Nome: {row.nome} | Endereço: {row.endereco}")

Cpf: 12312312312 | Nome: George R R Silva | Endereço: Rua dos Anzois

In [ ]:
with eng.connect() as conn:
    result = conn.execute(text("SELECT ov.nome, ov.cpf, ov.id_premiacao FROM ouvinte ov INNER JOIN premiacao pr ON ov.id_premiacao = pr.id;"))
    for row in result:
        print(f"Nome: {row.nome} | Cpf: {row.cpf} | Id premiacao: {row.id_premiacao} |")

In [ ]:
nome = widgets.Text(
    value='',
    placeholder='Digite o nome',
    description='Nome: ',
    disabled=False
)


cpf = widgets.Text(
    value='',
    placeholder='Digite o CPF',
    description='CPF: ',
    disabled=False
)


endereco = widgets.Text(
    value='',
    placeholder='Digite o endereço',
    description='Endereço: ',
    disabled=False
)

id_premiacao = widgets.IntText(
    value = 0,
    description='Id premiacao: ',
    disabled=False
)


button_ins = widgets.Button(description="Inserir", value='')
button_del = widgets.Button(description="Deletar", value='Preencha o CPF para deletar')
button_search = widgets.Button(description="Consultar CPF", value='Preencha o CPF para consultar')
button_list = widgets.Button(description="Listar tudo")
button_updt = widgets.Button(description="Atualizar", value='Preencha os campos a serem atualizados')

def button_insert(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM ouvinte WHERE cpf='{cpf.value}'")
        if cpf.value == '' or nome.value == '' or endereco.value == '':
            display("Inserção invalida. Preencha todos os campos!")
            return
        if cursor.rowcount > 0:
            display("Inserção invalida. CPF já cadastrado!")
            return
        cursor.execute(f"INSERT INTO ouvinte (cpf, nome, endereco, id_premiacao) VALUES ('{cpf.value}', '{nome.value}', '{endereco.value}', {id_premiacao.value})")
        con.commit()
        df = pd.read_sql("SELECT * FROM ouvinte", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")      
        display("Não foi possível realizar a inserção. Verifique restrições.")
        display(e)
        traceback.print_exc()
        
    finally:
        cursor.close()
        
def button_delete(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM ouvinte WHERE cpf='{cpf.value}'")
        if cpf.value == '':
            display("Deleção invalida. Insira um CPF válido!")
            return
        if cursor.rowcount == 0:
            display("CPF não encontrado!")
            return
        cursor.execute(f"DELETE FROM ouvinte WHERE cpf='{cpf.value}'")
        con.commit()
        df = pd.read_sql("SELECT * FROM ouvinte", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível realizar deletar. Verifique restrições.")
        display(e)
        traceback.print_exc()
    finally:
        cursor.close()

def button_update(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM ouvinte WHERE cpf='{cpf.value}'")
        if cpf.value == '':
            display("Atualização invalida. Insira um CPF válido!")
            return
        if cursor.rowcount == 0:
            display("CPF não encontrado!")
            return
        if nome.value != '':
            cursor.execute(f"UPDATE ouvinte SET nome='{nome.value}' WHERE cpf='{cpf.value}'")
        if endereco.value != '':
            cursor.execute(f"UPDATE ouvinte SET endereco='{endereco.value}' WHERE cpf='{cpf.value}'")
        display("Atualização realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM ouvinte", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível realizar a atualização. Verifique restrições.")
        display(e)
        traceback.print_exc()
    finally:
        cursor.close()

def button_find(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM ouvinte WHERE cpf='{cpf.value}'")
        if cpf.value == '':
            display("Consulta invalida. Insira um CPF válido!")
            return
        if cursor.rowcount == 0:
            display("CPF não encontrado!")
            return
        query = f"SELECT * FROM ouvinte WHERE cpf = '{cpf.value}'"
        display("Consulta realizada com sucesso! Exibindo resultado: ")
        df = pd.read_sql_query(query, cnx)
        display(df)

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

def button_all(b):
    try:        
        query = f"SELECT * FROM ouvinte"
        df = pd.read_sql_query(query, cnx)
        display("Exibindo registros: ")
        display(df)    

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

button_ins.on_click(button_insert)
button_del.on_click(button_delete)
button_list.on_click(button_all)
button_search.on_click(button_find)
button_updt.on_click(button_update)

display(cpf, nome, endereco, id_premiacao, button_ins, button_del, button_updt, button_search, button_list)

#### Manipulando a tabela quadro

In [90]:
with eng.connect() as conn:
    result = conn.execute(text("SELECT * FROM quadro WHERE nome_do_quadro = 'tarde musical';"))
    for row in result:
        print(f"Id: {row.id} | Nome do Quadro: {row.nome_do_quadro} | Tipo: {row.tipo_do_quadro} | Dia: {row.dia} | Horário: {row.horario} | Telefone: {row.telefone}")

Id: 5 | Nome do Quadro: tarde musical | Tipo: musical | Dia: quarta | Horário: 14:00 as 16:00 | Telefone: 8822224444

In [ ]:
id = widgets.IntText(
    value = 0,
    description='Id: ',
    disabled=False
)

nome_do_quadro = widgets.Text(
    value='',
    placeholder='Digite o nome do quadro',
    description='Quadro: ',
    disabled=False
)

tipo_do_quadro = widgets.Text(
    value='',
    placeholder='Digite o tipo',
    description='Tipo: ',
    disabled=False
)

dia = widgets.Text(
    value='',
    placeholder='Digite o dia',
    description='Dia: ',
    disabled=False
)

horario = widgets.Text(
    value='',
    placeholder='Digite o horario',
    description='Horario: ',
    disabled=False
)

telefone = widgets.Text(
    value='',
    placeholder='Digite o telefone',
    description='Telefone: ',
    disabled=False
)

button_ins = widgets.Button(description="Inserir", value='')
button_del = widgets.Button(description="Deletar", value='Preencha o nome do quadro para deletar')
button_search = widgets.Button(description="Consultar quadro", value='Preencha o nome do quadro para consultar')
button_list = widgets.Button(description="Listar tudo")
button_updt = widgets.Button(description="Atualizar", value='Preencha o nome do quadro para atualizar')


def button_insert(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM quadro WHERE nome_do_quadro = '{nome_do_quadro.value}'")
        if nome_do_quadro.value == '' or tipo_do_quadro.value == '' or dia.value == '' or horario.value == '' or telefone.value == '':
            display("Inserção invalida. Preencha todos os campos deixando o id vazio!")
            return
        if id.value != 0:
            display("Inserção invalida. Deixe o id 0")
            return
        if cursor.rowcount > 0:
            display("Inserção invalida. Quadro já existe!")
            return
        cursor.execute(f"INSERT INTO quadro (id, nome_do_quadro, tipo_do_quadro, dia, horario, telefone) VALUES (DEFAULT, '{nome_do_quadro.value}', '{tipo_do_quadro.value}', '{dia.value}', '{horario.value}', '{telefone.value}')")
        display("Operação realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM quadro", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")      
        display("Não foi possível realizar a inserção. Verifique restrições.")
        display(e)
        traceback.print_exc()
        
    finally:
        cursor.close()

def button_delete(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM quadro WHERE nome_do_quadro = '{nome_do_quadro.value}'")
        if nome_do_quadro.value == '':
            display("Deleção invalida. Digite um nome de quadro válido!")
            return
        if cursor.rowcount == 0:
            display("Deleção invalida. Quadro não existe!")
            return
        cursor.execute(f"DELETE FROM quadro WHERE nome_do_quadro='{nome_do_quadro.value}'")
        display("Operação realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM quadro", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível deletar. Verifique restrições.")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_update(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM quadro WHERE nome_do_quadro = '{nome_do_quadro.value}'")
        if nome_do_quadro.value == '':
            display("Atualização invalida. Digite um nome de quadro válido!")
            return
        if tipo_do_quadro.value == '' or dia.value == '' or horario.value == '' or telefone.value == '':
            display("Atualização invalida. Preencha todos os campos!")
            return
        if cursor.rowcount == 0:
            display("Atualização invalida. Quadro não existe!")
            return
        cursor.execute(f"UPDATE quadro SET dia = '{dia.value}', horario = '{horario.value}', telefone = '{telefone.value}' WHERE nome_do_quadro = '{nome_do_quadro.value}'")
        display("Operação realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM quadro", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível atualizar. Verifique restrições.")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_find(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM quadro WHERE nome_do_quadro = '{nome_do_quadro.value}'")
        if nome_do_quadro.value == '':
            display("Consulta invalida. Digite um nome de quadro válido!")
            return
        if cursor.rowcount == 0:
            display("Consulta invalida. Quadro não existe!")
            return
        query = f"SELECT * FROM quadro WHERE nome_do_quadro = '{nome_do_quadro.value}'"
        display("Consulta realizada com sucesso! Exibindo resultado: ")
        df = pd.read_sql_query(query, cnx)
        display(df)

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()
    
def button_all(b):
    try:        
        query = f"SELECT * FROM quadro"
        display("Exibindo lista de quadros:")
        df = pd.read_sql_query(query, cnx)
        display(df)    

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

button_ins.on_click(button_insert)
button_del.on_click(button_delete)
button_list.on_click(button_all)
button_search.on_click(button_find)
button_updt.on_click(button_update)

display(id, nome_do_quadro, tipo_do_quadro, dia, horario, telefone, button_ins, button_del, button_updt,button_search, button_list)

#### Manipulando a tabela artista

In [89]:
with eng.connect() as conn:
    result = conn.execute(text("SELECT * FROM artista WHERE nome_artista = 'Luiz Gonzaga';"))
    for row in result:
        print(f"Id: {row.id} | Nome: {row.nome_artista} | Gênero: {row.genero} | Email: {row.email} | Nacionalidade: {row.nacionalidade}")

Id: 2 | Nome: Luiz Gonzaga | Gênero: forro | Email: contato2@email.com.br | Nacionalidade: brasileiro

In [ ]:
id = widgets.IntText(
    value = 0,
    description='Id: ',
    disabled=False
)

nome_artista = widgets.Text(
    value='',
    placeholder='Digite o nome do artista',
    description='Artista: ',
    disabled=False
)

genero = widgets.Text(
    value='',
    placeholder='Digite o genero',
    description='Gênero: ',
    disabled=False
)

email = widgets.Text(
    value='',
    placeholder='Digite o email',
    description='Email: ',
    disabled=False
)

nacionalidade = widgets.Text(
    value='',
    placeholder='Digite a nacionalidade',
    description='País: ',
    disabled=False
)

button_ins = widgets.Button(description="Inserir", value='')
button_del = widgets.Button(description="Deletar", value='')
button_search = widgets.Button(description="Consultar artista", value='')
button_list = widgets.Button(description="Listar tudo")
button_updt = widgets.Button(description="Atualizar", value='')


def button_insert(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM artista WHERE nome_artista = '{nome_artista.value}'")
        if nome_artista.value == '' or genero.value == '' or email.value == '' or nacionalidade.value == '':
            display("Inserção invalida. Preencha todos os campos deixando o id 0!")
            return
        if id.value != 0:
            display("Inserção invalida. Não é possível alterar o id do artista!")
            return
        if cursor.rowcount > 0:
            display("Inserção invalida. Artista já existe!")
            return
        cursor.execute(f"INSERT INTO artista (id, nome_artista, genero, email, nacionalidade) VALUES (DEFAULT, '{nome_artista.value}', '{genero.value}', '{email.value}', '{nacionalidade.value}')")
        display("Operação realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM artista", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")      
        display("Não foi possível realizar a inserção. Verifique restrições.")
        display(e)
        traceback.print_exc()
        
    finally:
        cursor.close()

def button_delete(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM artista WHERE nome_artista = '{nome_artista.value}'")
        if nome_artista.value == '':
            display("Deleção invalida. Digite um nome de artista válido!")
            return
        if cursor.rowcount == 0:
            display("Deleção invalida. Artista não existe!")
            return
        cursor.execute(f"DELETE FROM artista WHERE nome_artista='{nome_artista.value}'")
        display("Operação realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM artista", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível deletar. Verifique restrições.")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_update(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM artista WHERE nome_artista = '{nome_artista.value}'")
        if nome_artista.value == '' or genero.value == '' or email.value == '' or nacionalidade.value == '':
            display("Atualização invalida. Preencha todos os campos.")
            return
        if id.value != 0:
            display("Atualização invalida. Não é possível alterar o id do artista!")
            return
        if cursor.rowcount == 0:
            display("Atualização invalida. Artista não existe!")
            return
        cursor.execute(f"UPDATE artista SET email='{email.value}' WHERE nome_artista='{nome_artista.value}'")
        display("Operação realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM artista", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível atualizar. Verifique restrições.")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_find(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM artista WHERE nome_artista = '{nome_artista.value}'")
        if nome_artista.value == '':
            display("Consulta invalida. Digite um nome de artista válido!")
            return
        if cursor.rowcount == 0:
            display("Consulta invalida. Artista não cadastrado!")
            return
        query = f"SELECT * FROM artista WHERE nome_artista = '{nome_artista.value}'"
        display("Consulta realizada com sucesso! Exibindo resultado: ")
        df = pd.read_sql_query(query, cnx)
        display(df)

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

def button_all(b):
    try:        
        query = f"SELECT * FROM artista"
        display("Exibindo lista de artistas:")
        df = pd.read_sql_query(query, cnx)
        display(df)    

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

button_ins.on_click(button_insert)
button_del.on_click(button_delete)
button_list.on_click(button_all)
button_search.on_click(button_find)
button_updt.on_click(button_update)

display(id, nome_artista, genero, email, nacionalidade, button_ins, button_del, button_updt, button_search, button_list)

#### Manipulando a tabela musica

In [8]:
with eng.connect() as conn:
    result = conn.execute(text("SELECT * FROM musica WHERE nome_musica = 'Asa Branca';"))
    for row in result:
        print(f"Id: {row.id} | Nome: {row.nome_musica} | Ano de lançamento: {row.ano_lancamento} | Album: {row.album} | Gênero: {row.genero}")

Id: 5 | Nome: Asa Branca | Ano de lançamento: 1947 | Album: Asa Branca | Gênero: forro

In [ ]:
id = widgets.IntText(
    value=0,
    placeholder='Digite o id',
    description='Id: ',
    disabled=False
)

nome_musica = widgets.Text(
    value='',
    placeholder='Digite o nome da música',
    description='Nome: ',
    disabled=False
)

ano_lancamento = widgets.Text(
    value='',
    placeholder='Digite o ano de lançamento',
    description='Ano: ',
    disabled=False
)

album = widgets.Text(
    value='',
    placeholder='Digite o álbum',
    description='Álbum: ',
    disabled=False
)

genero = widgets.Text(
    value='',
    placeholder='Digite o gênero',
    description='Gênero: ',
    disabled=False
)

button_ins = widgets.Button(description="Inserir")
button_del = widgets.Button(description="Deletar")
button_search = widgets.Button(description="Buscar")
button_list = widgets.Button(description="Listar")

def button_insert(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM musica WHERE nome_musica = '{nome_musica.value}'")
        if nome_musica.value == '' or ano_lancamento.value == '' or album.value == '' or genero.value == '':
            display("Inserção invalida. Preencha todos os campos deixando o id vazio!")
            return
        if id.value != 0:
            display("Inserção invalida. Não é possível alterar o id da música!")
            return
        if cursor.rowcount != 0:
            display("Inserção invalida. Música já existe!")
            return
        cursor.execute(f"INSERT INTO musica (id, nome_musica, ano_lancamento, album, genero) VALUES (DEFAULT, '{nome_musica.value}', '{ano_lancamento.value}', '{album.value}', '{genero.value}')")
        display("Operação realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM musica", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")      
        display("Não foi possível realizar a inserção. Verifique restrições.")
        display(e)
        traceback.print_exc()
        
    finally:
        cursor.close()

def button_delete(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM musica WHERE nome_musica = '{nome_musica.value}'")
        if nome_musica.value == '':
            display("Deleção invalida. Digite um nome de música válido!")
            return
        if cursor.rowcount == 0:
            display("Deleção invalida. Música não existe!")
            return
        cursor.execute(f"DELETE FROM musica WHERE nome_musica='{nome_musica.value}'")
        display("Operação realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM musica", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível deletar. Verifique restrições.")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_find(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM musica WHERE nome_musica = '{nome_musica.value}'")
        if nome_musica.value == '':
            display("Consulta invalida. Digite um nome de música válido!")
            return
        if cursor.rowcount == 0:
            display("Consulta invalida. Música não existe!")
            return
        display("Operação realizada com sucesso!")
        df = pd.read_sql_query(f"SELECT * FROM musica WHERE nome_musica = '{nome_musica.value}'", cnx)
        display(df)

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_all(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM musica")
        display("Exibindo lista de músicas: ")
        df = pd.read_sql_query(f"SELECT * FROM musica", cnx)
        display(df)

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

button_ins.on_click(button_insert)
button_del.on_click(button_delete)
button_list.on_click(button_all)
button_search.on_click(button_find)

display(id, nome_musica, ano_lancamento, album, genero, button_ins, button_del, button_search, button_list)

#### Manipulando a tabela apresentador

In [49]:
with eng.connect() as conn:
    result = conn.execute(text("SELECT apr.nome apresentador, qd.nome_do_quadro quadro, qd.horario, qd.dia FROM quadro_apresentado qap JOIN apresentador apr ON qap.id_apresentador = apr.id  JOIN quadro qd ON qap.id_quadro = qd.id WHERE apr.nome = 'Cleiton Apaixonado'  ORDER BY qd.horario"))
    for row in result:
        print(f"Apresentador: {row.apresentador} | Quadro: {row.quadro} | Horario: {row.horario} | Dia: {row.dia}")

Apresentador: Cleiton Apaixonado | Quadro: pra ficar & amar | Horario: 20:00 as 22:00 | Dia: segunda e sexta

In [43]:
with eng.connect() as conn:
    result = conn.execute(text("SELECT * FROM apresentador WHERE nome = 'Carlao do Brega';"))
    for row in result:
        print(f"Id: {row.id} | Nome: {row.nome} | Email: {row.email}")

Id: 5 | Nome: Carlao do Brega | Email: apr5@email.com.br

In [ ]:
id = widgets.IntText(
    value=0,
    placeholder='',
    description='Id: ',
    disabled=False
)

nome = widgets.Text(
    value='',
    placeholder='Digite o nome',
    description='Nome: ',
    disabled=False
)

email = widgets.Text(
    value='',
    placeholder='Digite o email',
    description='Email: ',
    disabled=False
)

button_ins = widgets.Button(description="Inserir")
button_del = widgets.Button(description="Deletar")
button_search = widgets.Button(description="Buscar")
button_list = widgets.Button(description="Listar")
button_updt = widgets.Button(description="Atualizar")

def button_insert(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM apresentador WHERE nome = '{nome.value}'")
        if nome.value == '' or email.value == '':
            display("Inserção invalida. Preencha todos os campos deixando o id 0!")
            return
        if id.value != 0:
            display("Inserção invalida. Não é possível alterar o id do apresentador!")
            return
        if cursor.rowcount != 0:
            display("Inserção invalida. Apresentador já existe!")
            return
        cursor.execute(f"INSERT INTO apresentador (id, nome, email) VALUES (DEFAULT, '{nome.value}', '{email.value}')")
        display("Operação realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM apresentador", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")      
        display("Não foi possível realizar a inserção. Verifique restrições.")
        display(e)
        traceback.print_exc()
        
    finally:
        cursor.close()

def button_delete(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM apresentador WHERE nome = '{nome.value}'")
        if nome.value == '':
            display("Deleção invalida. Digite um nome de apresentador válido!")
            return
        if cursor.rowcount == 0:
            display("Deleção invalida. Apresentador não existe!")
            return
        cursor.execute(f"DELETE FROM apresentador WHERE nome='{nome.value}'")
        display("Operação realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM apresentador", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível deletar. Verifique restrições.")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_find(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM apresentador WHERE nome = '{nome.value}'")
        if nome.value == '':
            display("Consulta invalida. Digite um nome de apresentador válido!")
            return
        if cursor.rowcount == 0:
            display("Consulta invalida. Apresentador não existe!")
            return
        display("Operação realizada com sucesso!")
        df = pd.read_sql_query(f"SELECT * FROM apresentador WHERE nome = '{nome.value}'", cnx)
        display(df)

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_all(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM apresentador")
        display("Exibindo lista de apresentadores: ")
        df = pd.read_sql_query(f"SELECT * FROM apresentador", cnx)
        display(df)

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_update(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM apresentador WHERE nome = '{nome.value}'")
        if nome.value == '' or email.value == '':
            display("Atualização invalida. Preencha todos os campos deixando o id 0!")
            return
        if cursor.rowcount == 0:
            display("Atualização invalida. Apresentador não existe!")
            return
        cursor.execute(f"UPDATE apresentador SET email = '{email.value}' WHERE nome = '{nome.value}'")
        display("Operação realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM apresentador", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")      
        display("Não foi possível realizar a atualização. Verifique restrições.")
        display(e)
        traceback.print_exc()
        
    finally:
        cursor.close()

button_ins.on_click(button_insert)
button_del.on_click(button_delete)
button_search.on_click(button_find)
button_list.on_click(button_all)
button_updt.on_click(button_update)

display(id, nome, email, button_ins, button_del, button_updt, button_search, button_list)

#### Manipulando a tabela telefone_ouvinte

In [69]:
with eng.connect() as conn:
    result = conn.execute(text("SELECT * FROM telefone_ouvinte WHERE cpf_ouvinte = '12312312312';"))
    for row in result:
        print(f"Cpf: {row.cpf_ouvinte} | Telefone: {row.telefone}")

Cpf: 12312312312 | Telefone: 1111111111
Cpf: 12312312312 | Telefone: 1111111112

In [ ]:
telefone = widgets.Text(
    value='',
    placeholder='Digite o telefone',
    description='Telefone: ',
    disabled=False
)

cpf_ouvinte = widgets.Text(
    value='',
    placeholder='CPF do ouvinte',
    description='CPF: ',
    disabled=False
)

button_ins = widgets.Button(description="Inserir")
button_del = widgets.Button(description="Deletar")
button_search = widgets.Button(description="Buscar")
button_list = widgets.Button(description="Listar")
button_updt = widgets.Button(description="Atualizar")

def button_insert(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM ouvinte WHERE cpf = '{cpf_ouvinte.value}'")
        if cpf_ouvinte.value == '' or telefone.value == '':
            display("Inserção invalida. Insira um telefone e um CPF!")
            return
        if cursor.rowcount == 0:
            display("Inserção invalida. Ouvinte não existe!")
            return
        if len(telefone.value) > 11:
            display("Inserção invalida. Telefone deve conter até 11 dígitos!")
            return
        if not telefone.value.isdigit():
            display("Inserção invalida. Telefone deve conter apenas números!")
            return
        cursor.execute(f"INSERT INTO telefone_ouvinte (telefone, cpf_ouvinte) VALUES ({telefone.value}', '{cpf_ouvinte.value}')")
        display("Operação realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM telefone_ouvinte", cnx)  
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")      
        display("Não foi possível realizar a inserção. Verifique restrições.")
        display(e)
        traceback.print_exc()
        
    finally:
        cursor.close()

def button_delete(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM telefone_ouvinte WHERE cpf_ouvinte = '{cpf_ouvinte.value}'")
        if cpf_ouvinte.value == '':
            display("Deleção invalida. Digite um CPF!")
            return
        if cursor.rowcount == 0:
            display("Deleção invalida. Ouvinte não existe!")
            return
        cursor.execute(f"DELETE FROM telefone_ouvinte WHERE cpf_ouvinte='{cpf_ouvinte.value}'")
        display("Operação realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM telefone_ouvinte", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível deletar. Verifique restrições.")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_find(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM telefone_ouvinte WHERE cpf_ouvinte = '{cpf_ouvinte.value}'")
        if cpf_ouvinte.value == '':
            display("Consulta invalida. Digite um CPF!")
            return
        if cursor.rowcount == 0:
            display("Consulta invalida. Ouvinte não existe!")
            return
        display("Operação realizada com sucesso!")
        df = pd.read_sql_query(f"SELECT * FROM telefone_ouvinte WHERE cpf_ouvinte = '{cpf_ouvinte.value}'", cnx)
        display(df)

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_all(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM telefone_ouvinte")
        display("Exibindo lista de telefones dos ouvintes: ")
        df = pd.read_sql_query(f"SELECT * FROM telefone_ouvinte", cnx)
        display(df)

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_update(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM telefone_ouvinte WHERE cpf_ouvinte = '{cpf_ouvinte.value}'")
        if cpf_ouvinte.value == '' or telefone.value == '':
            display("Atualização invalida. Insira um CPF e um telefone para atualizar!")
            return
        if cursor.rowcount == 0:
            display("Atualização invalida. Ouvinte não existe!")
            return
        cursor.execute(f"UPDATE telefone_ouvinte SET telefone = '{telefone.value}' WHERE cpf_ouvinte = '{cpf_ouvinte.value}'")
        display("Operação realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM telefone_ouvinte", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")      
        display("Não foi possível realizar a atualização. Verifique restrições.")
        display(e)
        traceback.print_exc()
        
    finally:
        cursor.close()

button_ins.on_click(button_insert)
button_del.on_click(button_delete)
button_search.on_click(button_find)
button_list.on_click(button_all)
button_updt.on_click(button_update)

display(cpf_ouvinte, telefone, button_ins, button_del, button_updt, button_search, button_list)

#### Manipulando a tabela musica_artista

In [ ]:
id_musica = widgets.IntText(
    value=0,
    placeholder='Insira o ID da música',
    description='ID Música:',
    disabled=False
)

id_artista = widgets.IntText(
    value=0,
    placeholder='Insira o ID do artista',
    description='ID Artista:',
    disabled=False
)


button_ins = widgets.Button(description="Inserir")
button_del = widgets.Button(description="Deletar")
button_search = widgets.Button(description="Buscar")
button_list = widgets.Button(description="Listar")

def button_insert(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM musica WHERE id = '{id.value}'")
        if id_musica.value == '':
            display("Inserção invalida. Insira um id de música!")
            return
        cursor.execute(f"SELECT * FROM artista WHERE id = '{id.value}'")
        if id_artista.value == '':
            display("Inserção invalida. Insira um id de artista!")
            return
        cursor.execute(f"INSERT INTO musica_artista (id_musica, id_artista) VALUES ('{id_musica.value}', '{id_artista.value}')")
        display("Operação realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM musica_artista", cnx)  
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")      
        display("Não foi possível realizar a inserção. Verifique restrições.")
        display(e)
        traceback.print_exc()
        
    finally:
        cursor.close()

def button_delete(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM musica_artista WHERE id_musica = '{id_musica.value}' AND id_artista = '{id_artista.value}'")
        if id_musica.value == '' or id_artista.value == '':
            display("Deleção invalida. Insira um id de música e um id de artista!")
            return
        if cursor.rowcount == 0:
            display("Deleção invalida. Música e artista não existem!")
            return
        cursor.execute(f"DELETE FROM musica_artista WHERE id_musica='{id_musica.value}' AND id_artista='{id_artista.value}'")
        display("Operação realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM musica_artista", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível deletar. Verifique restrições.")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_find(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM musica_artista WHERE id_musica = '{id_musica.value}' OR id_artista = '{id_artista.value}'")
        if id_musica.value == '' or id_artista.value == '':
            display("Consulta invalida. Insira um id de música ou um id de artista!")
            return
        if cursor.rowcount == 0:
            display("Consulta invalida. Música e artista não cadastrados!")
            return
        display("Operação realizada com sucesso!")
        df = pd.read_sql_query(f"SELECT * FROM musica_artista WHERE id_musica = '{id_musica.value}' OR id_artista = '{id_artista.value}'", cnx)
        display(df)

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_all(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM musica_artista")
        display("Exibindo lista de músicas e artistas: ")
        df = pd.read_sql_query(f"SELECT * FROM musica_artista", cnx)
        display(df)

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

button_ins.on_click(button_insert)
button_del.on_click(button_delete)
button_search.on_click(button_find)
button_list.on_click(button_all)

display(id_musica, id_artista, button_ins, button_del, button_search, button_list)

#### Manipulando a tabela musica_pedida

In [177]:
with eng.connect() as conn:
    result = conn.execute(text("SELECT mus.nome_musica musica, COUNT(*) qtd FROM musica_pedida mp JOIN musica mus ON mp.id_musica = mus.id WHERE mus.nome_musica = 'Billie Jean' GROUP BY musica ORDER BY qtd DESC"))
    for row in result:
        print(f"Musica: {row.musica} | Pedidos: {row.qtd}")

Musica: Billie Jean | Pedidos: 4

In [ ]:
id_pedido = widgets.IntText(
    value=0,
    description='ID Pedido:',
    disabled=False
)

cpf_ouvinte = widgets.Text(
    value='',
    placeholder='Insira o CPF do ouvinte',
    description='CPF Ouvinte:',
    disabled=False
)

id_musica = widgets.IntText(
    value=0,
    placeholder='Insira o ID da música',
    description='ID Música:',
    disabled=False
)

id_artista = widgets.IntText(
    value=0,
    placeholder='Insira o ID do artista',
    description='ID Artista:',
    disabled=False
)

id_quadro = widgets.IntText(
    value=0,
    placeholder='Insira o ID do quadro',
    description='ID Quadro:',
    disabled=False
)

id_apresentador = widgets.IntText(
    value=0,
    placeholder='Insira o ID do apresentador',
    description='ID Apresentador:',
    disabled=False
)

qtd_pontos = widgets.IntText(
    value=0,
    placeholder='Insira a quantidade de pontos',
    description='Pontos:',
    disabled=False
)

button_ins = widgets.Button(description="Inserir")
button_del = widgets.Button(description="Deletar")
button_search = widgets.Button(description="Buscar")
button_list = widgets.Button(description="Listar")
button_updt = widgets.Button(description="Atualizar")

def button_insert(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM musica_pedida WHERE id_pedido = '{id_pedido.value}'")
        if id_pedido.value != 0:
            display("Inserção invalida. ID do pedido é gerado automaticamente!")
            return
        cursor.execute(f"SELECT * FROM ouvinte WHERE cpf = '{cpf_ouvinte.value}'")
        if cpf_ouvinte.value == '':
            display("Inserção invalida. Insira um cpf de ouvinte!")
            return
        if cursor.rowcount == 0:
            display("Inserção invalida. Ouvinte não cadastrado!")
            return
        cursor.execute(f"SELECT * FROM musica WHERE id = '{id_musica.value}'")
        if id_musica.value == '':
            display("Inserção invalida. Insira um id de música!")
            return
        if cursor.rowcount == 0:
            display("Inserção invalida. Música não cadastrada!")
            return
        cursor.execute(f"SELECT * FROM artista WHERE id = '{id_artista.value}'")
        if id_artista.value == '':
            display("Inserção invalida. Insira um id de artista!")
            return
        if cursor.rowcount == 0:
            display("Inserção invalida. Artista não cadastrado!")
            return
        cursor.execute(f"SELECT * FROM quadro WHERE id = '{id_quadro.value}'")
        if id_quadro.value == '':
            display("Inserção invalida. Insira um id de quadro!")
            return
        if cursor.rowcount == 0:
            display("Inserção invalida. Quadro não cadastrado!")
            return
        cursor.execute(f"SELECT * FROM apresentador WHERE id = '{id_apresentador.value}'")
        if id_apresentador.value == '':
            display("Inserção invalida. Insira um id de apresentador!")
            return
        if cursor.rowcount == 0:
            display("Inserção invalida. Apresentador não cadastrado!")
            return
        if qtd_pontos.value < 0:
            display("Inserção invalida. Insira uma quantidade de pontos válida!")
            return
        cursor.execute(f"INSERT INTO musica_pedida (cpf_ouvinte, id_musica, id_artista, id_quadro, id_apresentador, qtd_pontos) VALUES ('{cpf_ouvinte.value}', '{id_musica.value}', '{id_artista.value}', '{id_quadro.value}', '{id_apresentador.value}', '{qtd_pontos.value}')")
        con.commit()
        display("Operação realizada com sucesso!")
        df = pd.read_sql_query(f"SELECT * FROM musica_pedida", cnx)
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível realizar a inserção. ")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_delete(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM musica_pedida WHERE id_pedido = '{id_pedido.value}'")
        if id_pedido.value == 0:
            display("Deleção invalida. Insira um id de pedido!")
            return
        if cursor.rowcount == 0:
            display("Deleção invalida. Pedido não cadastrado!")
            return
        cursor.execute(f"DELETE FROM musica_pedida WHERE id_pedido = '{id_pedido.value}'")
        con.commit()
        display("Operação realizada com sucesso!")
        df = pd.read_sql_query(f"SELECT * FROM musica_pedida", cnx)
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível realizar a deleção. ")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_find(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM musica_pedida WHERE id_pedido = '{id_pedido.value}'")
        if id_pedido.value == 0:
            display("Busca invalida. Insira um id de pedido!")
            return
        if cursor.rowcount == 0:
            display("Busca invalida. Pedido não cadastrado!")
            return
        df = pd.read_sql_query(f"SELECT * FROM musica_pedida WHERE id_pedido = '{id_pedido.value}'", cnx)
        display("Busca realizada com sucesso! Exibindo pedido encontrado:")
        display(df)

    except Exception as e:
        display("Não foi possível realizar a busca. ")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_all(b):
    try:
        cursor= con.cursor()
        df = pd.read_sql_query(f"SELECT * FROM musica_pedida", cnx)
        display(df)

    except Exception as e:
        display("Não foi possível listar os pedidos. ")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_update(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM musica_pedida WHERE id_pedido = '{id_pedido.value}'")
        if id_pedido.value == 0:
            display("Atualização invalida. Insira um id de pedido!")
            return
        if cursor.rowcount == 0:
            display("Atualização invalida. Pedido não cadastrado!")
            return
        if qtd_pontos.value < 0:
            display("Atualização invalida. Insira uma quantidade de pontos válida!")
            return
        cursor.execute(f"UPDATE musica_pedida SET qtd_pontos = '{qtd_pontos.value}' WHERE id_pedido = '{id_pedido.value}'")
        con.commit()
        display("Operação realizada com sucesso!")
        df = pd.read_sql_query(f"SELECT * FROM musica_pedida", cnx)
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível realizar a atualização. ")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

button_ins.on_click(button_insert)
button_del.on_click(button_delete)
button_search.on_click(button_find)
button_list.on_click(button_all)
button_updt.on_click(button_update)

display(id_pedido, cpf_ouvinte, id_musica, id_artista, id_quadro, id_apresentador, qtd_pontos, button_ins, button_del, button_updt, button_search, button_list)