In [156]:
import traceback
import ipywidgets as widgets
from IPython.display import display
from ipywidgets import interact
import pandas as pd
import psycopg2 as pg
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.sql.expression import text

In [157]:
cnx = 'postgresql://radio_server:srv123@localhost/radio'
eng = sqlalchemy.create_engine(cnx)

In [158]:
con = pg.connect(host='localhost', dbname= 'radio', user='radio_server', password= 'srv123')

In [ ]:
with eng.connect() as conn:
    result = conn.execute(text("select * from musica;"))
    for row in result:
        print(f"Id: {row.id} | Nome: {row.nome_musica} | Ano de lançamento: {row.ano_lancamento} | Album: {row.album} | Gênero: {row.genero}")

In [ ]:
with eng.connect() as conn:
    result = conn.execute(text("select apr.nome apresentador, qd.nome_do_quadro quadro, qd.horario, qd.dia from quadro_apresentado qap join apresentador apr on qap.id_apresentador = apr.id  join quadro qd on qap.id_quadro = qd.id order by qd.horario"))
    for row in result:
        print(f"Apresentador: {row.apresentador} | Quadro: {row.quadro} | Horario: {row.horario} | Dia: {row.dia} |")

In [ ]:
with eng.connect() as conn:
    result = conn.execute(text("select mus.nome_musica musica, count(*) qtd from musica_pedida mp join musica mus on mp.id_musica = mus.id group by musica order by qtd desc"))
    for row in result:
        print(f"Musica: {row.musica} | Pedidos: {row.qtd}")

#### Manipulando a tabela ouvinte

In [149]:
with eng.connect() as conn:
    result = conn.execute(text("SELECT * FROM ouvinte WHERE nome = 'George R R Silva' ORDER BY nome;"))
    for row in result:
        print(f"Cpf: {row.cpf} | Nome: {row.nome} | Endereço: {row.endereco}")

Cpf: 12312312312 | Nome: George R R Silva | Endereço: Rua dos Anzois

In [ ]:
with eng.connect() as conn:
    result = conn.execute(text("SELECT ov.nome, ov.cpf, ov.id_premiacao FROM ouvinte ov INNER JOIN premiacao pr ON ov.id_premiacao = pr.id;"))
    for row in result:
        print(f"Nome: {row.nome} | Cpf: {row.cpf} | Id premiacao: {row.id_premiacao} |")

In [ ]:
nome = widgets.Text(
    value='',
    placeholder='Digite o nome',
    description='Nome: ',
    disabled=False
)


cpf = widgets.Text(
    value='',
    placeholder='Digite o CPF',
    description='CPF: ',
    disabled=False
)


endereco = widgets.Text(
    value='',
    placeholder='Digite o endereço',
    description='Endereço: ',
    disabled=False
)

id_premiacao = widgets.IntText(
    value = 0,
    description='Id premiacao: ',
    disabled=False
)


button_ins = widgets.Button(description="Inserir", value='')
button_del = widgets.Button(description="Deletar", value='Preencha o CPF para deletar')
button_search = widgets.Button(description="Consultar CPF", value='Preencha o CPF para consultar')
button_list = widgets.Button(description="Listar tudo")
button_updt = widgets.Button(description="Atualizar", value='Preencha os campos a serem atualizados')

def button_insert(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM ouvinte WHERE cpf='{cpf.value}'")
        if cursor.rowcount > 0:
            display("Inserção invalida. CPF já cadastrado!")
            return
        if cpf.value == '' or nome.value == '' or endereco.value == '':
            display("Inserção invalida. Preencha todos os campos!")
            return
        cursor.execute(f"INSERT INTO ouvinte (cpf, nome, endereco, id_premiacao) VALUES ('{cpf.value}', '{nome.value}', '{endereco.value}', {id_premiacao.value})")
        con.commit()
        df = pd.read_sql("SELECT * FROM ouvinte", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")      
        display("Não foi possível realizar a inserção. Verifique restrições.")
        display(e)
        traceback.print_exc()
        
    finally:
        cursor.close()
        
def button_delete(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM ouvinte WHERE cpf='{cpf.value}'")
        if cursor.rowcount == 0:
            display("CPF não encontrado!")
            return
        if cpf.value == '':
            display("Deleção invalida. Insira um CPF válido!")
            return
        cursor.execute(f"DELETE FROM ouvinte WHERE cpf='{cpf.value}'")
        con.commit()
        df = pd.read_sql("SELECT * FROM ouvinte", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível realizar deletar. Verifique restrições.")
        display(e)
        traceback.print_exc()
    finally:
        cursor.close()

def button_update(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM ouvinte WHERE cpf='{cpf.value}'")
        if cursor.rowcount == 0:
            display("CPF não encontrado!")
            return
        if cpf.value == '':
            display("Atualização invalida. Insira um CPF válido!")
            return
        if nome.value != '':
            cursor.execute(f"UPDATE ouvinte SET nome='{nome.value}' WHERE cpf='{cpf.value}'")
        if endereco.value != '':
            cursor.execute(f"UPDATE ouvinte SET endereco='{endereco.value}' WHERE cpf='{cpf.value}'")
        display("Atualização realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM ouvinte", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível realizar a atualização. Verifique restrições.")
        display(e)
        traceback.print_exc()
    finally:
        cursor.close()

def button_find(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM ouvinte WHERE cpf='{cpf.value}'")
        if cursor.rowcount == 0:
            display("CPF não encontrado!")
            return
        if cpf.value == '':
            display("Consulta invalida. Insira um CPF válido!")
            return
        query = f"SELECT * FROM ouvinte WHERE cpf = '{cpf.value}'"
        df = pd.read_sql_query(query, cnx)
        display(df)

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

def button_all(b):
    try:        
        query = f"SELECT * FROM ouvinte"
        df = pd.read_sql_query(query, cnx)
        display(df)    

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

button_ins.on_click(button_insert)
button_del.on_click(button_delete)
button_list.on_click(button_all)
button_search.on_click(button_find)
button_updt.on_click(button_update)

display(cpf, nome, endereco, id_premiacao, button_ins, button_del, button_updt, button_search, button_list)

#### Manipulando a tabela quadro

In [128]:
with eng.connect() as conn:
    result = conn.execute(text("SELECT * FROM quadro WHERE nome_do_quadro = 'tarde musical';"))
    for row in result:
        print(f"Id: {row.id} | Nome do Quadro: {row.nome_do_quadro} | Tipo: {row.tipo_do_quadro} | Dia: {row.dia} | Horário: {row.horario} | Telefone: {row.telefone}")

Id: 5 | Nome do Quadro: tarde musical | Tipo: musical | Dia: quarta | Horário: 14:00 as 16:00 | Telefone: 8822224444

In [ ]:
id = widgets.Text(
    value = 'default',
    description='Id: ',
    disabled=False
)

nome_do_quadro = widgets.Text(
    value='',
    placeholder='Digite o nome do quadro',
    description='Quadro: ',
    disabled=False
)

tipo_do_quadro = widgets.Text(
    value='',
    placeholder='Digite o tipo',
    description='Tipo: ',
    disabled=False
)

dia = widgets.Text(
    value='',
    placeholder='Digite o dia',
    description='Dia: ',
    disabled=False
)

horario = widgets.Text(
    value='',
    placeholder='Digite o horario',
    description='Horario: ',
    disabled=False
)

telefone = widgets.Text(
    value='',
    placeholder='Digite o telefone',
    description='Telefone: ',
    disabled=False
)

button_ins = widgets.Button(description="Inserir", value='')
button_del = widgets.Button(description="Deletar", value='Preencha o nome do quadro para deletar')
button_search = widgets.Button(description="Consultar quadro", value='Preencha o nome do quadro para consultar')
button_list = widgets.Button(description="Listar tudo")
button_updt = widgets.Button(description="Atualizar", value='Preencha o nome do quadro para atualizar')


def button_insert(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM quadro WHERE nome_do_quadro = '{nome_do_quadro.value}'")
        if cursor.rowcount > 0:
            display("Inserção invalida. Quadro já existe!")
            return
        if id.value != 'default':
            display("Inserção invalida. Não é possível alterar o id do quadro!")
            return
        if nome_do_quadro.value == '' or tipo_do_quadro.value == '' or dia.value == '' or horario.value == '' or telefone.value == '':
            display("Inserção invalida. Preencha todos os campos deixando o id como default.")
            return
        cursor.execute(f"INSERT INTO quadro (id, nome_do_quadro, tipo_do_quadro, dia, horario, telefone) VALUES (DEFAULT, '{nome_do_quadro.value}', '{tipo_do_quadro.value}', '{dia.value}', '{horario.value}', '{telefone.value}')")
        display("Inserção realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM quadro", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")      
        display("Não foi possível realizar a inserção. Verifique restrições.")
        display(e)
        traceback.print_exc()
        
    finally:
        cursor.close()

def button_delete(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM quadro WHERE nome_do_quadro = '{nome_do_quadro.value}'")
        if cursor.rowcount == 0:
            display("Deleção invalida. Quadro não existe!")
            return
        if nome_do_quadro.value == '':
            display("Deleção invalida. Digite um nome de quadro válido!")
            return
        cursor.execute(f"DELETE FROM quadro WHERE nome_do_quadro='{nome_do_quadro.value}'")
        display("Deleção realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM quadro", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível deletar. Verifique restrições.")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_update(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM quadro WHERE nome_do_quadro = '{nome_do_quadro.value}'")
        if cursor.rowcount == 0:
            display("Atualização invalida. Quadro não existe!")
            return
        if id.value != 'default':
            display("Atualização invalida. Não é possível alterar o id do quadro!")
            return
        if nome_do_quadro.value == '':
            display("Atualização invalida. Digite um nome de quadro válido!")
            return
        if tipo_do_quadro.value == '' or dia.value == '' or horario.value == '' or telefone.value == '':
            display("Atualização invalida. Preencha todos os campos!")
            return
        cursor.execute(f"UPDATE quadro SET dia = '{dia.value}', horario = '{horario.value}', telefone = '{telefone.value}' WHERE nome_do_quadro = '{nome_do_quadro.value}'")
        display("Atualização realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM quadro", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível atualizar. Verifique restrições.")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_find(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM quadro WHERE nome_do_quadro = '{nome_do_quadro.value}'")
        if cursor.rowcount == 0:
            display("Consulta invalida. Quadro não existe!")
            return
        if nome_do_quadro.value == '':
            display("Consulta invalida. Digite um nome de quadro válido!")
            return
        query = f"SELECT * FROM quadro WHERE nome_do_quadro = '{nome_do_quadro.value}'"
        display("Consulta realizada com sucesso!")
        df = pd.read_sql_query(query, cnx)
        display(df)

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()
    
def button_all(b):
    try:        
        query = f"SELECT * FROM quadro"
        display("Exibindo lista de quadros:")
        df = pd.read_sql_query(query, cnx)
        display(df)    

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

button_ins.on_click(button_insert)
button_del.on_click(button_delete)
button_list.on_click(button_all)
button_search.on_click(button_find)
button_updt.on_click(button_update)

display(id, nome_do_quadro, tipo_do_quadro, dia, horario, telefone, button_ins, button_del, button_updt,button_search, button_list)

#### Manipulando a tabela artista

In [130]:
with eng.connect() as conn:
    result = conn.execute(text("SELECT * FROM artista WHERE nome_artista = 'Luiz Gonzaga';"))
    for row in result:
        print(f"Id: {row.id} | Nome: {row.nome_artista} | Gênero: {row.genero} | Email: {row.email} | Nacionalidade: {row.nacionalidade}")

Id: 2 | Nome: Luiz Gonzaga | Gênero: forro | Email: contato2@email.com.br | Nacionalidade: brasileiro

In [ ]:
id = widgets.Text(
    value = 'default',
    description='Id: ',
    disabled=False
)

nome_artista = widgets.Text(
    value='',
    placeholder='Digite o nome do artista',
    description='Artista: ',
    disabled=False
)

genero = widgets.Text(
    value='',
    placeholder='Digite o genero',
    description='Gênero: ',
    disabled=False
)

email = widgets.Text(
    value='',
    placeholder='Digite o email',
    description='Email: ',
    disabled=False
)

nacionalidade = widgets.Text(
    value='',
    placeholder='Digite a nacionalidade',
    description='País: ',
    disabled=False
)

button_ins = widgets.Button(description="Inserir", value='')
button_del = widgets.Button(description="Deletar", value='')
button_search = widgets.Button(description="Consultar artista", value='')
button_list = widgets.Button(description="Listar tudo")
button_updt = widgets.Button(description="Atualizar", value='')


def button_insert(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM artista WHERE nome_artista = '{nome_artista.value}'")
        if cursor.rowcount > 0:
            display("Inserção invalida. Artista já existe!")
            return
        if id.value != 'default':
            display("Inserção invalida. Não é possível alterar o id do artista!")
            return
        if nome_artista.value == '' or genero.value == '' or email.value == '' or nacionalidade.value == '':
            display("Inserção invalida. Preencha todos os campos deixando o id como default.")
            return
        cursor.execute(f"INSERT INTO artista (id, nome_artista, genero, email, nacionalidade) VALUES (DEFAULT, '{nome_artista.value}', '{genero.value}', '{email.value}', '{nacionalidade.value}')")
        display("Inserção realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM artista", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")      
        display("Não foi possível realizar a inserção. Verifique restrições.")
        display(e)
        traceback.print_exc()
        
    finally:
        cursor.close()

def button_delete(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM artista WHERE nome_artista = '{nome_artista.value}'")
        if cursor.rowcount == 0:
            display("Deleção invalida. Artista não existe!")
            return
        if nome_artista.value == '':
            display("Deleção invalida. Digite um nome de artista válido!")
            return
        cursor.execute(f"DELETE FROM artista WHERE nome_artista='{nome_artista.value}'")
        display("Deleção realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM artista", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível deletar. Verifique restrições.")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_update(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM artista WHERE nome_artista = '{nome_artista.value}'")
        if cursor.rowcount == 0:
            display("Atualização invalida. Artista não existe!")
            return
        if id.value != 'default':
            display("Atualização invalida. Não é possível alterar o id do artista!")
            return
        if nome_artista.value == '' or genero.value == '' or email.value == '' or nacionalidade.value == '':
            display("Atualização invalida. Preencha todos os campos.")
            return
        cursor.execute(f"UPDATE artista SET email='{email.value}' WHERE nome_artista='{nome_artista.value}'")
        display("Atualização realizada com sucesso!")
        con.commit()
        df = pd.read_sql("SELECT * FROM artista", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível atualizar. Verifique restrições.")
        display(e)
        traceback.print_exc()

    finally:
        cursor.close()

def button_find(b):
    try:
        cursor= con.cursor()
        cursor.execute(f"SELECT * FROM artista WHERE nome_artista = '{nome_artista.value}'")
        if cursor.rowcount == 0:
            display("Consulta invalida. Artista não existe!")
            return
        if nome_artista.value == '':
            display("Consulta invalida. Digite um nome de artista válido!")
            return
        query = f"SELECT * FROM artista WHERE nome_artista = '{nome_artista.value}'"
        display("Consulta realizada com sucesso!")
        df = pd.read_sql_query(query, cnx)
        display(df)

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

def button_all(b):
    try:        
        query = f"SELECT * FROM artista"
        display("Exibindo lista de artistas:")
        df = pd.read_sql_query(query, cnx)
        display(df)    

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

button_ins.on_click(button_insert)
button_del.on_click(button_delete)
button_list.on_click(button_all)
button_search.on_click(button_find)

display(id, nome_artista, genero, email, nacionalidade, button_ins, button_del, button_search, button_list)