In [17]:
import traceback
import ipywidgets as widgets
from IPython.display import display
from ipywidgets import interact
import pandas as pd
import psycopg2 as pg
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.sql.expression import text

In [3]:
cnx = 'postgresql://radio_server:srv123@localhost/radio'
eng = sqlalchemy.create_engine(cnx)

In [4]:
con = pg.connect(host='localhost', dbname= 'radio', user='radio_server', password= 'srv123')

In [ ]:
with eng.connect() as conn:
    result = conn.execute(text("select * from artista;"))
    for row in result:
        print(f"Id: {row.id} | Nome: {row.nome_artista} | Gênero: {row.genero} | Email: {row.email} | Nacionalidade: {row.nacionalidade}")

In [ ]:
with eng.connect() as conn:
    result = conn.execute(text("select * from musica;"))
    for row in result:
        print(f"Id: {row.id} | Nome: {row.nome_musica} | Ano de lançamento: {row.ano_lancamento} | Album: {row.album} | Gênero: {row.genero}")

In [ ]:
with eng.connect() as conn:
    result = conn.execute(text("select * from quadro;"))
    for row in result:
        print(f"Id: {row.id} | Nome do Quadro: {row.nome_do_quadro} | Tipo: {row.tipo_do_quadro} | Dia: {row.dia} | Horário: {row.horario} | Telefone: {row.telefone}")

In [ ]:
with eng.connect() as conn:
    result = conn.execute(text("select apr.nome apresentador, qd.nome_do_quadro quadro, qd.horario, qd.dia from quadro_apresentado qap join apresentador apr on qap.id_apresentador = apr.id  join quadro qd on qap.id_quadro = qd.id order by qd.horario"))
    for row in result:
        print(f"Apresentador: {row.apresentador} | Quadro: {row.quadro} | Horario: {row.horario} | Dia: {row.dia} |")

In [ ]:
with eng.connect() as conn:
    result = conn.execute(text("select mus.nome_musica musica, count(*) qtd from musica_pedida mp join musica mus on mp.id_musica = mus.id group by musica order by qtd desc"))
    for row in result:
        print(f"Musica: {row.musica} | Pedidos: {row.qtd}")

#### Manipulando a tabela ouvinte

In [41]:
with eng.connect() as conn:
    result = conn.execute(text("SELECT * FROM ouvinte ORDER BY nome;"))
    for row in result:
        print(f"Cpf: {row.cpf} | Nome: {row.nome} | Endereço: {row.endereco}")

Cpf: 44433355522 | Nome: Ana Jessica | Endereço: Avenida Jose Pessoa
Cpf: 11122233344 | Nome: Ana Maria | Endereço: Rua Azul
Cpf: 88877766655 | Nome: Ana Maria | Endereço: Avenida Brasil
Cpf: 13513513544 | Nome: Ananias Paiva | Endereço: Rua Azul
Cpf: 34534534555 | Nome: Antonia Ananias | Endereço: Travessa da Pascoa
Cpf: 33344455567 | Nome: Aroldo Filho Nobrega | Endereço: Avenida Jose Pessoa
Cpf: 33344455566 | Nome: Aroldo Nobrega | Endereço: Avenida Jose Pessoa
Cpf: 33433433434 | Nome: Cleuma Pinto | Endereço: Rua  Sgt. Muralha
Cpf: 36936936933 | Nome: Dolores Paiva | Endereço: Rua Principal
Cpf: 11133344455 | Nome: Everaldo Matos | Endereço: Travesssa da Pascoa
Cpf: 12312312322 | Nome: Felipe Marcos | Endereço: Rua Azul
Cpf: 12312312312 | Nome: George R R Silva | Endereço: Rua dos Anzois
Cpf: 24624624688 | Nome: Januzio Carvalho | Endereço: Rua Sgt. Muralha
Cpf: 78978978999 | Nome: Jeronimo Golias | Endereço: Travessa da Pascoa
Cpf: 12112112111 | Nome: Jessica Macedo | Endereço: Avenida Brasil
Cpf: 22233344455 | Nome: Julia Souza | Endereço: Rua Principal
Cpf: 22233355544 | Nome: Lucas Josias | Endereço: Rua dos Anzois
Cpf: 11211311455 | Nome: Marcia Gomes | Endereço: Rua Vassouras
Cpf: 77788899900 | Nome: Maria Das Gracas | Endereço: Rua Azul
Cpf: 23423423433 | Nome: Rafaela Alcantara | Endereço: Rua Principal

In [ ]:
with eng.connect() as conn:
    result = conn.execute(text("SELECT ov.nome, ov.cpf, ov.id_premiacao FROM ouvinte ov INNER JOIN premiacao pr ON ov.id_premiacao = pr.id;"))
    for row in result:
        print(f"Nome: {row.nome} | Cpf: {row.cpf} | Id premiacao: {row.id_premiacao} |")

In [ ]:
nome = widgets.Text(
    value='',
    placeholder='Digite o nome',
    description='Nome: ',
    disabled=False
)


cpf = widgets.Text(
    value='',
    placeholder='Digite o CPF',
    description='CPF: ',
    disabled=False
)


endereco = widgets.Text(
    value='',
    placeholder='Digite o endereço',
    description='Endereço: ',
    disabled=False
)

id_premiacao = widgets.IntText(
    value = 0,
    description='Id premiacao: ',
    disabled=False
)


button_ins = widgets.Button(description="Inserir", value='')
button_del = widgets.Button(description="Deletar", value='Preencha o CPF para deletar')
button_search = widgets.Button(description="Consultar CPF", value='Preencha o CPF para consultar')
button_list = widgets.Button(description="Listar tudo")

def button_insert(b):
    try:
        cursor= con.cursor()
        if cpf.value == '' or nome.value == '' or endereco.value == '':
            display("Inserção invalida. Preencha todos os campos!")
            return
        cursor.execute(f"INSERT INTO ouvinte (cpf, nome, endereco, id_premiacao) VALUES ('{cpf.value}', '{nome.value}', '{endereco.value}', {id_premiacao.value})")
        con.commit()
        df = pd.read_sql("SELECT * FROM ouvinte", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")      
        display("Não foi possível realizar a inserção. Verifique restrições.")
        display(e)
        traceback.print_exc()
        
    finally:
        cursor.close()
        
def button_delete(b):
    try:
        cursor= con.cursor()
        if cpf.value == '':
            display("Deleção invalida. Insira um CPF válido!")
            return
        cursor.execute(f"DELETE FROM ouvinte WHERE cpf='{cpf.value}'")
        con.commit()
        df = pd.read_sql("SELECT * FROM ouvinte", cnx)        
        display(df)

    except Exception as e:
        cursor.execute("ROLLBACK")
        display("Não foi possível realizar deletar. Verifique restrições.")
        display(e)
        traceback.print_exc()
    finally:
        cursor.close()

def button_find(b):
    try:
        if cpf.value == '':
            display("Consulta invalida. Insira um CPF válido!")
            return
        query = f"SELECT * FROM ouvinte WHERE cpf = '{cpf.value}'"
        df = pd.read_sql_query(query, cnx)
        display(df)

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

def button_all(b):
    try:        
        query = f"SELECT * FROM ouvinte"
        df = pd.read_sql_query(query, cnx)
        display(df)    

    except Exception as e:
        display("Não foi possível realizar a consulta. ")
        display(e)
        traceback.print_exc()

button_ins.on_click(button_insert)
button_del.on_click(button_delete)
button_list.on_click(button_all)
button_search.on_click(button_find)

display(cpf, nome, endereco, id_premiacao, button_ins, button_del, button_search, button_list)

#### Manipulando a tabela quadro